
@{
    Layout = "_Layout";
}
 @using Factory.Models; 


<div class="text-center">
    <h1>Welcome to Dr. Sillystringz's Factory!</h1>

    <hr>

    <h1>List of Engineers:</h1>

@if (ViewBag.Engineers.Count == 0)
{
  <h3>No engineers have been added.</h3>
} 
else
{
  <ul>
    @foreach (Engineer engineer in ViewBag.Engineers)
    {
      <li>@Html.ActionLink($"{engineer.EngineerName}", "Details", "Engineers", new { id = engineer.EngineerId }, null)</li>
    }
  </ul>
}
<p>@Html.ActionLink("Add a new engineer", "Create", "Engineers", null, new { @class = "btn btn-primary" })</p>
<hr>

<h1>List of Machines:</h1>

@if (ViewBag.Machines.Count == 0)
{
  <h3>No machines have been added.</h3>
} 
else
{
  <ul>
    @foreach (Machine machine in ViewBag.Machines)
    {
      <li>@Html.ActionLink($"{machine.MachineName}", "Details", "Machines", new { id = machine.MachineId }, null)</li>
    }
  </ul>
}
<p>@Html.ActionLink("Add a new machine", "Create", "Machines", null, new { @class = "btn btn-primary" })</p>
  </div>



